.cards {
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1.5fr repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 16px 32px;
}
